@{
    ViewData["Title"] = "Promotion Engine";
}

<div class="text-center promotion-engine">
    <div class="promotion-engine-skus">
        <input type="text" placeholder="Eg: A,B,D" class="promotion-engine-skus-input" />
    </div>
    <button type="button" class="promotion-engine-cta mt-5">
        Get total
    </button>
    <div class="promotion-engine-total mt-5">
        Fill in the SKUs separated by commas and click "Get total" to retrieve price.
    </div>
</div>

